    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="lead">
              <br/><br/>
              <h2>About this Workshop</h2>
              <br/>
                This is the first international workshop on software engineering organized by 
                <a href="https://softwareinnovation.nz/">Software Innovation NZ (SI^NZ)</a>.
                <br>
                <br>
                SI^NZ is the New Zealand software research network. It aspires to bring together software researchers within NZ. 
                <br>
                <br>
                The workshop will be a two days event, with invited speakers and presentations on May 22 2023, and a social event on May 23 2023.
            
              </div>
        </div>
    </section>
